<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" colors="true" bootstrap="vendor/autoload.php" stopOnFailure="false" cacheDirectory=".phpunit.cache">
  <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="s3cr3t"/>
        <server name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
